doctype html
html
	head
		meta(charset='utf-8')
		title Test
		link(rel='stylesheet',href='./css/hoge.css')
		link(rel='stylesheet',href='./css/fuga.css')
	body
		h1 TEST
		table: tbody
			tr
				td: div.t.l.tl
				td: div.t.l.tr
				td: div.t.r.tl
				td: div.t.r.tr
			tr
				td: div.t.l.bl
				td: div.t.l.br
				td: div.t.r.bl
				td: div.t.r.br
			tr
				td: div.b.l.tl
				td: div.b.l.tr
				td: div.b.r.tl
				td: div.b.r.tr
			tr
				td: div.b.l.bl
				td: div.b.l.br
				td: div.b.r.bl
				td: div.b.r.br