body
    font-size 1em
.b.l.tl
    stylsprite('/img/b/l-tl.png',1)
.b.l.tr
    stylsprite('/img/b/l-tr.png',1)
.b.l.bl
    stylsprite('/img/b/l-bl.png',1)
.b.l.br
    stylsprite('/img/b/l-br.png',1)
.b.r.tl
    stylsprite('/img/b/r/tl.png',2)
.b.r.tr
    stylsprite('/img/b/r/tr.png',2)
.b.r.bl
    stylsprite('/img/b/r/bl.png',2)
.b.r.br
    stylsprite('/img/b/r/br.png',2)