body
	font-size 1em
.t.l.tl
	stylsprite('../img/t/l-tl.png',1)
.t.l.tr
	stylsprite('../img/t/l-tr.png',1)
.t.l.bl
	stylsprite('../img/t/l-bl.png',1)
.t.l.br
	stylsprite('../img/t/l-br.png',1)
.t.r.tl
	stylsprite('../img/t/r/tl.png')
.t.r.tr
	stylsprite('../img/t/r/tr.png')
.t.r.bl
	stylsprite('../img/t/r/bl.png')
.t.r.br
	stylsprite('../img/t/r/br.png')